/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-size: 12px;
	font-family: sans-serif;
}

#container {
	padding-top: 120px;
	padding-bottom: 100px;
	position: relative;
}


#container table {
	width: 100%;
}

#container table td {
	padding: 5px;
}

.holder {
	width: 100%;
	padding: 10px;
}

#raw-resources {
	height: 120px;
	position: fixed;
	background-color: #fff;
	border-bottom: 1px solid #222;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
	top: 0px;
}

.raw-icon {
	width: 64px;
}

.item-icon {
	width: 32px;
	/*height: 36px;*/
}

.required-icon {
	width: 16px;
}

.holder .build-col img {
	
}

.raw-res {
	width: 100px;
	float: left;
	height: 100px;
}

.resource-count {
	margin-top: 10px;
}

.resource-max {
	color: #888;
}

.rate-info {
	color: #888;
}

.knowledge-input input {
	width: 40px;
	float: right;
}


#footer {
	height: 70px;
	width: 100%;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	background-color: #fff;
	padding: 5px;
	border-top: 1px solid #222;
}

.queue-container {
	width: 33%;
	float: left;
}

.message {
	height: 18px;
	padding: 2px;
	margin-bottom: 2px;
}

.message.bad {
	background-color: #e7c3c3;
}

.message.good {
	background-color: #d6e9c6;
}

#knowledge progress {
	width: 100%;
}

.buildQueueItem {
	height: 20px;
	overflow: auto;
}

.buildQueueItem img {
	height: 20px;
	float: left;
}

.buildProgress {
  height: 100%;
  margin-left: 40px;
  padding-top: 10px;
}

.requirement {
	white-space: nowrap;
}

button {
	border-radius: 5px;
	min-width: 30px;
	min-height: 30px;
}

.right-align-contents {
	text-align: right;
}

.requirement.notenough {
	color: #b92c28;
}

.dialog-content {
	padding: 0px 10px 0px 10px;
	overflow: auto;
	height: 100%;
}


.dialog-content h1      { font-size: 2em;       /* 2*16 = 32 */       font-weight: bold;  margin-bottom: 10px;       }
.dialog-content h2      { font-size: 1.5em;     /* 1.5*16 = 24 */     font-weight: bold; margin-bottom: 10px;   }
.dialog-content h3      { font-size: 1.17em;    /* 1.17*16 = 18.72 */ font-weight: bold; margin-bottom: 10px; }
.dialog-content h4      { font-size: 1em;       /* 1*16 = 16 */       font-weight: bold; margin-bottom: 10px; }
.dialog-content h5      { font-size: 0.83em;    /* 0.83*16 = 13.28 */ font-weight: bold; margin-bottom: 10px;}
.dialog-content h6      { font-size: 0.75em;    /* 0.75*16 = 12 */    font-weight: bold; margin-bottom: 10px; }

.dialog-content p { 
	line-height: 1.5;
    margin: 0 0 1em;    
}


.dialog-content ul, .dialog-content ol, .dialog-content dl {
	line-height: 1.5;
	margin-bottom: 1.11111rem;
	list-style-position: inside;
	font-family: inherit;
	list-style-type: disc;
}

.dialog-content li {
	margin-left: 10px;
}

.dialog-page {
	display: none;
}